html,
body,
#root {
    padding: 0 !important;
    margin: 0 !important;
}

.container {
    padding: 15px !important;
    margin: 0 !important;
}

html,
body,
#root,
.container {
    width: @container_width !important;
    height: @container_height !important;
    margin: 10px;
    overflow: hidden;
}
